@import (reference) "../../less/variables.less";

.about {
  & h1 {
    margin-bottom: 32px;

    font-size: 18px;
  }

  & p {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  & p,
  & h1 {
    @media screen and (max-width: @tablet) {
      font-size: 16px;
    }

    @media screen and (max-width: @tablet-small) {
      font-size: 14px;
    }
  }
}
