@import (reference) '../../less/variables.less';

.button {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  padding: 0 24px;
  line-height: 48px;

  cursor: pointer;
  transition: @transition;
  text-align: center;

  color: @color-text-second;
  border: none;
  border-radius: 8px;

  font-weight: bold;

  &_brand {
    background-color: @color-brand;
  }

  &_brand:hover {
    background-color: @color-brand-light;
  }

  &_w100 {
    width: 100%;
  }
}
